<%= render 'shared/ascii' %>
<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>
  
  <body>
    <div id="container">
      <br/>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= render 'shared/analytics' unless Rails.env == 'development' %>
  <%= render 'shared/hotjar' unless Rails.env == 'development' %>
  <%= render 'shared/addthis' %>
</html>