<%= render 'shared/ascii' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="<%= t('app.description') %>" name="description"/>
    <meta content="<%= t('app.author') %>" name="author"/>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="container">
      <br/>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= render 'shared/analytics' unless Rails.env == 'development' %>
</html>