<!--

Follow me on Twitter!

   ______  __                        ___      __        __                
  / ____ \/ /_  ___  ____  ___  ____/ (_)____/ /_____ _/ /_  ______ _____ 
 / / __ `/ __ \/ _ \/ __ \/ _ \/ __  / / ___/ __/ __ `/ / / / / __ `/ __ \
/ / /_/ / /_/ /  __/ / / /  __/ /_/ / / /__/ /_/ /_/ / / /_/ / /_/ / / / /
\ \__,_/_.___/\___/_/ /_/\___/\__,_/_/\___/\__/\__,_/_/\__,_/\__,_/_/ /_/ 
 \____/                                                                   

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= content_for?(:title) ? yield(:title) : t('app.title') %>
    </title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="container">
      <br/>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= render 'shared/analytics' unless Rails.env == 'development' %>
</html>